body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
    /* padding-top: 10%;
    padding-right: 20%;
    padding-left: 20%; */
}
.repo-layout {
    display: flex;
    flex-wrap: wrap;
    min-width: 100vh;
    /* padding-top: 10%; */
    padding-right: 10%;
    padding-left: 10%;
    

  }
  
  .repo-box {
    padding: .20rem;
    margin: 10pt;
    display: flex;
    flex-direction: row;
    /* border-bottom-width: 0.5px;
    border-bottom-style: solid; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    
  }

  .repo-details {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .repo-image {
    height: 10rem;
    width: 10rem;
  }
  .starts-box{
     display: flex;
     flex-direction: row;

  }
  .starts-box-el{
      display: flex;
      align-items: center;
      padding: 1rem;
      
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #212529;
    height: 100pt;
    padding: .5rem;
    position: sticky;
    top: 0;
  }

  .header-title{
      color: aliceblue;
      margin-left: 5%;
  }
  .header-author{
      color: aliceblue;
      margin-left: 5%;
      font-style: italic;
      
  }